.card {
  display: block;
  position: fixed;
  margin: 0% auto;
  margin-top: 5%;
}

.float-left {
  margin: 0px 70px 15px;
  color: rgb(33, 33, 33);
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
}
.Search {
  margin: -110px 0px 5px 250px;
}
.wind {
  margin: 0 -40px 30px;
}
.day {
  margin: 0 25px 15px;
}

h1 {
  margin: 0px 50px 1px;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  margin: 0px 28px 0px;
  padding: 7px;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  margin: 3px 55px;
}

img {
  margin: 0px 80px 1px;
}
